
<section id="title" class="section">
    <div class="container">
      <h1 class="title">Characters</h1>
            <app-show-filters></app-show-filters>
    </div>
</section>
<section class="section">
    <div class="container list-layout" >
        <div *ngFor="let character of characters.results">
            <app-characters-card [character]="character"></app-characters-card>
        </div>
    </div>
</section>
<nav class="pagination pb-4" role="navigation" aria-label="pagination">
    <div class="container">
        <a *ngIf="!!this.characters.info.prev" type="button" class="button  pagination-previous" (click)="prevtPage()">Previous</a>
        <a *ngIf="!!this.characters.info.next"type="button" class="button pagination-next" (click)="nextPage()">Next page</a>
    </div>
</nav>