<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ character.image }}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{{ character.image }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ character.name }}</p>
        </div>
      </div>
  
      <div class="content">
        <p>Gender: {{ character.gender }}</p>
        <p>Species: {{ character.species }}</p>
        <p>Status: {{ character.status }}</p>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Details</a>
      </footer>
    </div>
  </div>