<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{ character.image }}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96 ">
            <img class="is-rounded" src="{{ character.image }}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ character.name }}</p>
        </div>
      </div>
  
      <div class="content">
        <p><b>Gender: </b>{{ character.gender }}</p>
        <p><b>Species: </b>{{ character.species }}</p>
        <p><b>Status: </b>{{ character.status }}</p>
      </div>
      <footer class="card-footer">
        <a href="#" [routerLink]="['character',character.id]" class="card-footer-item">Details</a>
      </footer>
    </div>
  </div>