.card {
    width: 300px;
    max-width: 300px;
    min-height: 350px;
    margin: 16px;
}

.media-left {
    display: none;
}

@media (max-width: 425px){
    .media-left{
        display: block;
    }

    .card-image {
        display: none;
    }
}